name: CI Cache

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  cache:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Cache dependencies
        id: cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: cache-0df2e52

      - name: prime-cache-0df2e52
        run: echo "Cache hit? ${{ steps.cache.outputs.cache-hit }}"

      - name: Prime content
        run: |
          mkdir -p ~/.npm
          echo "primed" > ~/.npm/primed.txt
